<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

	<h:form>  
    <p:growl id="messages"/>
 
    <p:menubar style="margin-bottom: 30px">
        <p:menuitem value="Produtos" url="produtos.xhtml" />
        <p:menuitem value="Vendas" url="vendas.xhtml" />
        
        <f:facet name="options" style="font-size: 14px; margin: 30px">
        	<p:outputLabel value="Usuário: " style="font-size: 14px; font-weight: bold;" /> 
        	<p:outputLabel value="#{loginBean.usuario.nome}" style="font-size: 14px;" />
        </f:facet>
    </p:menubar>
</h:form>
</f:view>