<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

	<h:head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>Sistema de Vendas</title>

	    <link rel="stylesheet" 
		    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
		    crossorigin="anonymous" />
		    
		<link rel="StyleSheet" type="text/css" href="../public/css/estilo.css" media="screen" />			
	</h:head>
</f:view>