<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
	<ui:include src="/components/topo.xhtml" />
    
	<h:body>
		<div class="main">
		    

		<h:form id="loginForm">
			<p:panelGrid id="loginPanel" columns="2" border="3" cellpadding="5" 
					style="max-width: 500px; margin: 0 auto; margin-top: 50px"
                    cellspacing="1">
                    <f:facet name="header">
                           <h:outputText value="Login" />
                    </f:facet>
                    
                    <p:outputLabel for="@next" value="Email:"/>
                    <p:inputText id="email" style="width: 350px" 
                    	required="true" requiredMessage="O E-mail é obrigatório!" 
                    	value="#{loginBean.email}" >
                    	<f:validateRequired />
                   	</p:inputText>
                   	
                   	<p:outputLabel for="@next" value="Senha"/>
                    <p:password id="senha" style="width: 350px" 
                    	required="true" requiredMessage="A Senha obrigatória!" 
                    	value="#{loginBean.senha}" >
                    	<f:validateRequired />
                   	</p:password>
                   	
                   	<p:outputLabel value=""/>
                   	
                   	<p:commandButton id="logar"
		    			value="Logar"
		    			style="margin-top: 10px; margin-bottom: 10px"
			        	title="Cadastrar Produto"
			        	ajax="false"
			        	update="loginForm, growl" 
			        	action="#{loginBean.logar}"/>
            </p:panelGrid>
         </h:form>
         <p:growl id="growl" showDetail="true" />
		</div>
	</h:body>
</html>