<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
	<ui:include src="/components/topo.xhtml" />
    
	<h:body>
		<div class="main">
			<ui:include src="/components/menu.xhtml" />

			<h:form id="formParaCadastrar">
		    <p:commandButton id="iconOnly"
		    			value="Cadastrar Produto"
		    			style="margin-bottom: 10px;"
			        	icon="ui-icon-circle-plus" 
			        	title="Cadastrar Produto" 
			        	action="#{produtoBean.cadastrar}" ajax="false" />
        	</h:form>

		    <p:dataTable var="produto" value="#{produtoBean.produtos}"
		    	emptyMessage="Nenhum registro encontrado"
		    	paginator="true"
	                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                 currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
	                 rowsPerPageTemplate="5,10,15"
		    >
		    <f:facet name="header">
	            Listagem de Produtos
	        </f:facet>
	        	<p:column>
	        		<h:graphicImage 
	        			style="max-width: 100px"
	        			value="#{produtoBean.getCaminhoImagem(produto.imagem)}"/>
	        	</p:column>

			    <p:column headerText="Nome">
			        <h:outputText value="#{produto.nome}" />
			    </p:column>
			    
			    <p:column headerText="Categoria">
			        <h:outputText value="#{produto.categoriaProduto.nome}" />
			    </p:column>
			 
			    <p:column headerText="Descrição">
			        <h:outputText value="#{produto.descricao}" />
			    </p:column>
			 
			    <p:column headerText="Preço de Compra">
			        <h:outputText value="#{produto.precoCompra}" >
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			    </p:column>
			 
			    <p:column headerText="Preço de Venda">
			        <h:outputText value="#{produto.precoVenda}">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			    </p:column>
			    
			    <p:column headerText="Estoque">
			        <h:outputText value="#{produto.quantidadeEstoque}"/>
			    </p:column>
			    
			    <p:column headerText="">
			    	<h:form id="commandForm" style="inline-block">
				        <p:commandButton id="editar" 
				        	style="margin-right:20px;" 
				        	icon="ui-icon-pencil" 
				        	title="Editar"
				        	action="#{produtoBean.editar}" ajax="false">
				        		<f:setPropertyActionListener
	                                     target="#{produtoBean.idProdutoSelecionado}"
	                                        value="#{produto.id}" />
				        	</p:commandButton>
		        	
			        	<p:commandButton id="excluir" 
				        	style="margin-right:20px;" 
				        	icon="ui-icon-trash" 
				        	title="Excluir"
				        	action="#{produtoBean.excluir}" ajax="false">
				        		<f:setPropertyActionListener
	                                     target="#{produtoBean.idProdutoSelecionado}"
	                                        value="#{produto.id}" />
						</p:commandButton>                    
		        	</h:form>
			    </p:column>
			</p:dataTable>
		</div>
	</h:body>
	
	<ui:include src="/components/rodape.xhtml" />
</html>