<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions" >
    
	<ui:include src="/components/topo.xhtml" />
    
	<h:body>
		<div class="main">
			<ui:include src="/components/menu.xhtml" />
			
			<h:form id="produtoForm" enctype="multipart/form-data" prependId="false">

			<p:panelGrid id="panel1" columns="2" border="3" cellpadding="5" 
					style="width: 700px; margin: 0 auto"
                    cellspacing="1">
                    <f:facet name="header">
                           <h:outputText value="Salvar Produto" />
                    </f:facet>
                    
       				<p:outputLabel for="@next" value="Nome:"/>
                    <p:inputText id="nome" style="width: 350px" 
                    	required="true" requiredMessage="Nome é obrigatório" 
                    	value="#{produtoBean.produto.nome}" >
                    	<f:validateRequired />
                   	</p:inputText>
                    
                    <p:outputLabel for="@next" value="Categoria:" />			        
			        <p:selectOneMenu id="categoria" 
			        	value="#{produtoBean.produto.categoriaProduto.id}" 
				        required="true" requiredMessage="Categoria é obrigatória" 
				        dynamic="true" style="width: 350px">
			            <f:selectItem itemLabel="Seleciona uma opção" itemValue="" />
			            <f:selectItems value="#{produtoBean.categorias}" 
			            	var="cat" itemLabel="#{cat.nome}" />
			        </p:selectOneMenu>
					 
					 <p:outputLabel for="@next" value="Descrição:" />	
    				 <p:inputTextarea rows="6" cols="33" value="#{produtoBean.produto.descricao}" />
    				 
    				 <p:outputLabel for="@next" value="Preço de Compra:" />
	    				 <pe:inputNumber id="preco_compra" 
	    				 required="true" requiredMessage="Preço de Compra é obrigatório"
	    				 value="#{produtoBean.produto.precoCompra}"
	    				 decimalSeparator="," thousandSeparator="."
    				 	 symbol="R$ " />
	                
	                <p:outputLabel for="@next" value="Preço de Venda:" />
    				<pe:inputNumber id="preco_venda" value="#{produtoBean.produto.precoVenda}"
    					required="true" requiredMessage="Preço de Venda é obrigatório"
    				 	decimalSeparator="," thousandSeparator="."
    				 	symbol="R$ " />
	                
	                <p:outputLabel for="@next" value="Quantidade em Estoque:" />
    				 <pe:inputNumber id="quantidade_estoque" value="#{produtoBean.produto.quantidadeEstoque}"
    				 	 required="true" requiredMessage="Quantidade em Estoque é obrigatório"
	    				 thousandSeparator="" decimalSeparator="." decimalPlaces="0" />  
	                
	                <p:outputLabel for="@next" value="Foto:" />
	                <p:fileUpload value="#{produtoBean.arquivoImagem}" 
	                	required="true" requiredMessage="A foto é obrigatória"
	                	style="margin-top: 20px;"
	                	label="Arquivo" 
	                	mode="simple" 
		                skinSimple="true"
		                allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
	                
	                <p:outputLabel for="@next" value="" />
            		<p:commandButton id="salvarProduto"
		    			value="Salvar Produto"
		    			style="margin-top: 10px; margin-bottom: 10px"
			        	icon="ui-icon-disk" 
			        	title="Cadastrar Produto"
			        	ajax="false"
			        	update="produtoForm" 
			        	action="#{produtoBean.persistir}"/>
              </p:panelGrid>

              </h:form>

			<p:growl id="growl" showDetail="true" />
			<ui:include src="/components/rodape.xhtml" />
		</div>
	</h:body>
</html>