<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions" >
    
	<ui:include src="/components/topo.xhtml" />
	
	<h:body>
		<div class="main">
			<ui:include src="/components/menu.xhtml" />
			
			<h:form id="produtoForm" prependId="false">

			
			<p:panelGrid id="panel1" columns="2" border="3" cellpadding="5" 
					style="width: 700px; margin: 0 auto; margin-bottom: 20px"
                    cellspacing="1">
                    <f:facet name="header">
                           <h:outputText value="Salvar Venda" />
                    </f:facet>
                    
       				<p:outputLabel for="@next" value="Cliente:"/>
                    <p:inputText id="nome" style="width: 350px" 
                    	required="true" requiredMessage="O nome do cliente é obrigatório" 
                    	value="#{vendaBean.venda.clienteNome}" >
                    	<f:validateRequired />
                   	</p:inputText>
                    
					<p:outputLabel for="@next" value="CPF"/>
                    <p:inputMask id="cpf" style="width: 350px" 
                    	required="true" requiredMessage="O CPF do cliente é obrigatório" 
                    	mask="999.999.999-99"
                    	value="#{vendaBean.venda.clienteCpf}" >
                    	<f:validateRequired />
                   	</p:inputMask>
                   	
                   	<p:outputLabel for="@next" value="Telefone"/>
                    <p:inputMask id="telefone" style="width: 350px" 
                    	required="true" requiredMessage="O telefone do cliente é obrigatório" 
                    	mask="(99) 9999-9999"
                    	value="#{vendaBean.venda.clienteTelefone}" >
                    	<f:validateRequired />
                   	</p:inputMask>
                   	
                   	<p:outputLabel for="@next" value="E-mail"/>
                    <p:inputText id="email" style="width: 350px" 
                    	required="true" requiredMessage="O e-mail do cliente é obrigatório" 
                    	value="#{vendaBean.venda.clienteEmail}" >
                    	<f:validateRequired />
                   	</p:inputText>
                   	
    				 <p:outputLabel for="@next" value="Desconto (%)" />
	    				 <pe:inputNumber id="desconto" 
	    				 required="true" requiredMessage="Preço de Compra é obrigatório"
	    				 value="#{vendaBean.venda.descontoPercentual}"
	    				 decimalSeparator="," thousandSeparator=".">
	    				 	<f:ajax listener="#{vendaBean.calcularDesconto}" render="labelTotalComDesconto" />
	    				 </pe:inputNumber> 
	    				 
	    			<p:outputLabel value="Total" />
			        
			        <h:outputText value="#{vendaBean.total}" id="totalSemDesconto">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			        
			        <p:outputLabel value="Total com desconto" />
			        
			        <h:outputText value="#{vendaBean.totalComDesconto}" id="labelTotalComDesconto">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
	    			
	    			<p:outputLabel for="@next" value="" />	 
	                <p:commandButton id="salvarVenda"
		    			value="Salvar Venda"
		    			style="margin-top: 10px; margin-bottom: 10px"
			        	icon="ui-icon-disk" 
			        	title="Cadastrar Produto"
			        	ajax="false"
			        	update="produtoForm" 
			        	action="#{vendaBean.persistir}"/>
			        	
              </p:panelGrid>

              </h:form>
              
              <h:form id="adicionarProdutoForm">
              
	              <p:panelGrid id="produtos" columns="5" border="3" cellpadding="5" 
						style="width: 1010px; margin: 0 auto; margin-bottom: 10px"
	                    cellspacing="1">
	               
	               		<f:facet name="header">
	                           <h:outputText value="Produtos" />
	                    </f:facet>
	                    
	                    <p:outputLabel for="@next" value="Produto:" />			        
				        <p:selectOneMenu id="categoria" 
				        	filter="true" filterMatchMode="startsWith"
				        	value="#{vendaBean.idProdutoAdicionar}" 
					        dynamic="true" style="width: 350px">
				            <f:selectItem itemLabel="Seleciona uma opção" itemValue="" />
				            <f:selectItems value="#{vendaBean.produtosSelect}" 
				            	var="produto" itemLabel="#{produto.nome}" />
				        </p:selectOneMenu>
				        
				        <p:outputLabel for="@next" value="Quantidade:" />
	    				 <pe:inputNumber id="quantidade_estoque" value="#{vendaBean.quantidadeItem}"
	    				 	style="width: 50px"
	    				 	 required="true" requiredMessage="Quantidade em Estoque é obrigatório"
		    				 thousandSeparator="" decimalSeparator="." decimalPlaces="0" />
			        	
			        	<p:commandButton id="adicionarProduto"
			    			value="Adicionar"
			    			style="margin-top: 10px; margin-bottom: 10px"
				        	icon="ui-icon-plus" 
				        	title="Adicionar Produto"
				        	update="adicionarProdutoForm, labelTotalComDesconto, totalSemDesconto, growl" 
				        	action="#{vendaBean.adicionarProduto}"/>
	               </p:panelGrid>
	               
	               <p:dataTable id="tabelaProdutos" style="max-width: 1010px; margin: 0 auto"
	               	 var="vendaProduto" value="#{vendaBean.listaVendaProduto}"
					    	emptyMessage="Nenhum produto seleciondo">

				        	<p:column>
				        		<h:graphicImage 
				        			style="max-width: 100px"
				        			value="#{produtoBean.getCaminhoImagem(vendaProduto.produto.imagem)}"/>
				        	</p:column>
			
						    <p:column headerText="Nome">
						        <h:outputText value="#{vendaProduto.produto.nome}" />
						    </p:column>
						   
						    <p:column headerText="Preço">
						        <h:outputText value="#{vendaProduto.produto.precoVenda}">
						        	<f:convertNumber type="currency" currencySymbol="R$"/>
						        </h:outputText>
						    </p:column>
						    
						    <p:column headerText="Quantidade">
						        <h:outputText value="#{vendaProduto.quantidade}" />
						    </p:column>
						    
						    <p:column headerText="Total">
						        <h:outputText value="#{vendaProduto.produto.precoVenda * vendaProduto.quantidade}">
						        	<f:convertNumber type="currency" currencySymbol="R$"/>
						        </h:outputText>
						    </p:column>
						    
					</p:dataTable>
              </h:form>             
			<p:growl id="growl" showDetail="true" />
			<ui:include src="/components/rodape.xhtml" />
		</div>
	</h:body>
</html>