<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pe="http://primefaces.org/ui/extensions" >
    
	<ui:include src="/components/topo.xhtml" />
	
	<h:body>
		<div class="main">
			<ui:include src="/components/menu.xhtml" />
			
			<h:form id="produtoForm" prependId="false">

			
			<p:panelGrid id="panel1" columns="2" border="3" cellpadding="5" 
					style="width: 700px; margin: 0 auto; margin-bottom: 20px"
                    cellspacing="1">
                    <f:facet name="header">
                           <h:outputText value="Detalhes da Venda" />
                    </f:facet>
                    
       				<p:outputLabel value="Cliente"/>
       				
       				<p:outputLabel value="#{vendaBean.venda.clienteNome}"/>
                    
					<p:outputLabel value="CPF"/>
					
					<p:outputLabel value="#{vendaBean.venda.clienteCpf}"/>
                   	
                   	<p:outputLabel value="Telefone"/>
                   	
                   	<p:outputLabel value="#{vendaBean.venda.clienteTelefone}"/>
                   	
                   	<p:outputLabel value="E-mail"/>
                   	
                   	<p:outputLabel value="#{vendaBean.venda.clienteEmail}"/>
                   	
    				<p:outputLabel value="Desconto (%)" />
	    				 
	    			<h:outputText value="#{vendaBean.venda.descontoPercentual / 100}">
			        	<f:convertNumber type="percent" />
			        </h:outputText>
	    				 
	    			<p:outputLabel value="Total" />
			        
			        <h:outputText value="#{vendaBean.venda.valorTotalSemDesconto}">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			        
			        <p:outputLabel value="Total com desconto" />
			        
			        <h:outputText value="#{vendaBean.venda.valorTotalComDesconto}">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			        
			        <h:outputText value="Data" />
			        
			        <h:outputText value="#{vendaBean.venda.data}">
			        	<f:convertDateTime pattern="dd/MM/yyyy HH:mm" locale="pt,BR" timeZone="America/Fortaleza" />
			        </h:outputText>
	    			
              </p:panelGrid>

              </h:form>
              
              <h:form id="adicionarProdutoForm">
	               
	               <p:dataTable id="tabelaProdutos" style="max-width: 1010px; margin: 0 auto"
	               	 var="vendaProduto" value="#{vendaBean.venda.vendaProdutos}"
					    	emptyMessage="Nenhum produto seleciondo">
							<f:facet name="header">
		                           <h:outputText value="Produtos" />
		                    </f:facet>
		                    
				        	<p:column>
				        		<h:graphicImage 
				        			style="max-width: 100px"
				        			value="#{produtoBean.getCaminhoImagem(vendaProduto.produto.imagem)}"/>
				        	</p:column>
			
						    <p:column headerText="Nome">
						        <h:outputText value="#{vendaProduto.produto.nome}" />
						    </p:column>
						   
						    <p:column headerText="Preço">
						        <h:outputText value="#{vendaProduto.produto.precoVenda}">
						        	<f:convertNumber type="currency" currencySymbol="R$"/>
						        </h:outputText>
						    </p:column>
						    
						    <p:column headerText="Quantidade">
						        <h:outputText value="#{vendaProduto.quantidade}" />
						    </p:column>
						    
						    <p:column headerText="Total">
						        <h:outputText value="#{vendaProduto.produto.precoVenda * vendaProduto.quantidade}">
						        	<f:convertNumber type="currency" currencySymbol="R$"/>
						        </h:outputText>
						    </p:column>
						    
					</p:dataTable>
              </h:form>             
		<p:growl id="growl" showDetail="true" />
			<ui:include src="/components/rodape.xhtml" />
		</div>
	</h:body>
</html>