<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
	<ui:include src="/components/topo.xhtml" />
    
	<h:body>
		<div class="main">
			<ui:include src="/components/menu.xhtml" />

			<h:form id="formParaCadastrar">
		    <p:commandButton id="iconOnly"
		    			value="Cadastrar Venda"
		    			style="margin-bottom: 10px;"
			        	icon="ui-icon-circle-plus" 
			        	title="Cadastrar Venda" 
			        	action="#{vendaBean.cadastrar}" ajax="false" />
        	</h:form>

		    <p:dataTable var="venda" value="#{vendaBean.vendas}"
		    	emptyMessage="Nenhum registro encontrado"
		    	paginator="true"
	                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                 currentPageReportTemplate="{startRecord}-{endRecord} de {totalRecords} registros"
	                 rowsPerPageTemplate="5,10,15"
		    >
		    <f:facet name="header">
	            Listagem de Vendas
	        </f:facet>
			    <p:column headerText="Cliente">
			        <h:outputText value="#{venda.clienteNome}" />
			    </p:column>
			    
			    <p:column headerText="CPF">
			        <h:outputText value="#{venda.clienteCpf}" />
			    </p:column>
			    
			    <p:column headerText="Desconto">
			        <h:outputText value="#{venda.descontoPercentual / 100}">
			        	<f:convertNumber type="percent" />
			        </h:outputText>
			    </p:column>
			    
			    <p:column headerText="Valor Total">
			        <h:outputText value="#{venda.valorTotalComDesconto}">
			        	<f:convertNumber type="currency" currencySymbol="R$" />
			        </h:outputText>
			    </p:column>
			    
			    <p:column headerText="Data">
			        <h:outputText value="#{venda.data}">
			        	<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
			        </h:outputText>
			    </p:column>
			    
			    <p:column headerText="">
			    	<h:form id="commandForm" style="inline-block">
				        <p:commandButton id="editar" 
				        	style="margin-right:20px;" 
				        	icon="ui-icon-external-link" 
				        	title="Detalhes da Venda"
				        	action="#{vendaBean.detalhes}" ajax="false">
				        		<f:setPropertyActionListener
	                                     target="#{vendaBean.idVendaSelecionada}"
	                                        value="#{venda.id}" />
				        	</p:commandButton>
		        	
			        	<p:commandButton id="ciconOnly" 
				        	style="margin-right:20px;" 
				        	icon="ui-icon-trash" 
				        	title="Excluir"
				        	action="#{vendaBean.excluir}" ajax="false">
				        	<f:setPropertyActionListener
	                                     target="#{vendaBean.idVendaSelecionada}"
	                                        value="#{venda.id}" />
				         </p:commandButton>
		        	</h:form>
			    </p:column>
			</p:dataTable>
		</div>
	</h:body>
	
	<ui:include src="/components/rodape.xhtml" />
</html>